<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %> Dashboard</title>
    <link rel="stylesheet" href="/css/index1.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container-fluid">

         <!-- Header
         <section class="bar">

        </section> -->

        <nav>
            <div class="container">
                <div class="nav-container">
                    <div class="btn">
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                    </div>
                </div>
                <ul class="navul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><a href="/profile">Profile</a></li> -->
                    <li><a href="/plan">Plans</a></li>
                    <li><a href="/coupon">Coupon Vendors</a></li>
                    <li><a href="/gen-income">How we generate our income</a></li>
                    <li><a href="/withdraw">Withdraw</a></li>
                    <li><a href="/tos">Tos</a></li>
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </div>
        </nav>

        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <section class="profile">

            <div class="container">
                
                <div class="profilerow">

                    <div class="profilecontain profileone">
                        <div class="profile-col-img">
                            <img src="/images/profile.jpg" alt="">
                        </div>

                        <div class="profilecontain login-col-2">
                            <% if ( days == "Fund Your Account") { %>
                                <a href="/plan">Click Here to Fund Your Account From Coupon Vendor</a>
                            <% } else{ %>
                                <p><%= days %><span> Days Left For Withdrawal</span></p>
                            <% } %>
                        </div>
                        
                        <div class="profilecontain">
                            <%- include("./partials/messages") %>
                        </div>

                        <div class="profilecontain login-col-2">
                            <h2>Activate Coupon Here To Fund Your Account</h2>
                            <form action="/activate" method="POST"> 
                                <input type="text" name="coupon" id="" placeholder="Enter Coupon Code" required>
                                <button type="submit">Activate Coupon</button>
                            </form>
                        </div>
                    </div>
                    <div class="profilecontain">
                        <div class="profileinfo">
                            <h4><%= firstname %> <%= lastname %></h4>
                            <p><%= email %></p>
                            <p><%= username %></p>
                            <p><%= package %></p>
                        </div>
                        <div class="profilereferral">
                            <h4>Referral</h4>
                            <p>Referral Link:</p>
                            <p><a id="<%= refercode %>" class="refer"></a></p>
                            <p><span>Number of referral</span>: <%= referred.length %></p>
                            <p><span>Referral Bonus</span>: <%= bonus %></p>
                            <p><span>Amount Invested:</span><%= balance %> </p>
                            <p><span>Balance</span>: <%= roi %></p>
                            <p><span>Total Balance</span>: <%= totalAmount %></p>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>


    <script src="/js/script.js"></script>
    <script src="/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
       var url = $(location).attr("hostname");
       $(document).ready(function(){
           $(".refer").each(function(){
               var id = $(this).attr("id");
               var aTag = "/signup/" + id;
               var newUrl = url + "/signup/" + id;
               $(this).attr("href", aTag);
               $(this).html(newUrl);
           })
       })
    </script>

</body>
</html>