<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <div class="container-fluid">

         <!--Header-->
         <section class="bar">

        </section>

        <nav>
            <div class="container">
                <div class="nav-container">
                    <div class="btn">
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                    </div>
                </div>
                <ul class="navul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/plan">Plans</a></li>
                    <li><a href="/coupon">Coupon Vendors</a></li>
                    <li><a href="/gen-income">How we generate our income</a></li>
                    <li><a href="/withdraw">Withdraw</a></li>
                    <li><a href="/tos">Tos</a></li>
                    <li><a href="/signup">Registration</a></li>
                    <li><a href="/login">Sign in</a></li>
                </ul>
            </div>
        </nav>

        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <section class="profile">

            <div class="container">
                
                <div class="profilerow">

                    <div class="profilecontain profileone">
                        <div class="profile-col-img">
                            <img src="images/profile.jpg" alt="">
                        </div>
                        <div class="profilecoupon">
                            <a href="">Activate Coupon</a>
                        </div>
                    </div>
                    <div class="profilecontain">
                        <div class="profileinfo">
                            <h4><%= firstname %> <%= lastname %></h4>
                            <p><%= email %></p>
                            <p><%= username %></p>
                            <p class="profilepack"><%= package %></p>
                        </div>
                        <div class="profilereferral">
                            <h4>Referral</h4>
                            <p><span>Referral Link:</span> </p>
                            <p><span>Number of referral</span>: <%= referred.length %></p>
                            <p><span>Referral Bonus</span>: 0</p>
                            <p><span>Balance</span>: <%= balance %></p>
                            <p><span>Total Balance</span>: <%= totalBalance %></p>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>


    <script src="js/script.js"></script>
    <script src="js/all.js"></script>

</body>
</html>