<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/index1.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    
</head>
<body>
    
    <div class="container-fluid">

         <!--Header-->
         <section class="bar">

        </section>

        <nav>
            <div class="container">
                <div class="nav-container">
                    <div class="btn">
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                        <div class="navbar"></div>
                    </div>
                </div>
                <ul class="navul">
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </div>
        </nav>

        <section class="logo">
            <h1>Mphunds</h1>
            <h5>INVEST IN YOUR FUTURE</h5>
        </section>

        <section class="profile">

            <div class="container">
                
                <div class="profilerow">

                    <div class="profilecontain profileone">
                        <div class="profile-col-img"></div>
                    </div>
                    <div class="profilecoupon login-col-2">
                        <h2>Generate Coupon</h2>
                        <%- include("./partials/messages") %>
                        <form action="/generate" method="POST">
                            <select name="package" id="myselect" required>
                                <option value="">Select An Investment Plan</option>
                                <option value="Copper Plan">Copper Plan</option>
                                <option value="Violet Plan">Violet Plan</option>
                                <option value="Standard Plan">Standard Plan</option>
                                <option value="Bronze Plan">Bronze Plan</option>
                                <option value="Premium Plan">Premium Plan</option>
                                <option value="Platinum Plan">Platinum Plan</option>
                                <option value="Silver Plan">Silver Plan</option>
                                <option value="Gold Plan">Gold Plan</option>
                            </select>
                            <input type="text" name="price" id="price" placeholder="Enter Price of Coupon" required>
                            <input type="text" name="ROI" id="roi" placeholder="Expected ROI After 30 days" required>
                            <button type="submit">Generate Coupon</button>

                        </form>
                    </div>
                    <div class="profile-col-img"></div>
                    <div class="profilecontain">
                        <h2 class="title1">Tables</h2>
					<div class="panel-body widget-shadow" style="overflow-x: auto;">
						<h4>Vendors Information</h4>
						<table class="table">
							<thead>
								<tr>
								  <th>#</th>
								  <th>Coupon Code</th>
								  <th>Plan</th>
								  <th>Coupon Price</th>
                                  <th>Expected ROI</th>
								</tr>
							</thead>
							<tbody>
									<% var num = 0 %>
									<% for (var i = 0; i < coupons.length; i++) {%>
										<tr>
											<% num+= 1 %>
											<th scope="row"><%= num %></th>
											<td><%= coupons[i].couponCode %></td>
											<td><%= coupons[i].plan %></td>
											<td><%= coupons[i].price %></td>
                                            <td><%= coupons[i].roi %></td>
											<td>
												<button class="delete-doc" id="<%= coupons[i]._id %>" type="button">Delete Coupon</button>
											</td>
										</tr>
									<%}%>
							</tbody>
						</table>
					</div>
                    </div>

                </div>

            </div>

        </section>

        <footer>
            <p>mphunds 2021</p>
        </footer>

    </div>


    <script src="/js/script.js"></script>
    <script src="/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#myselect').on('change', function(){
            if ($('#myselect').val() == "Copper Plan") {
                $("#price").val("12000");
                $("#roi").val("19200");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Violet Plan") {
                $("#price").val("24000");
                $("#roi").val("38400");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Standard Plan") {
                $("#price").val("48000");
                $("#roi").val("76800");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Bronze Plan") {
                $("#price").val("96000");
                $("#roi").val("153600");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Premium Plan") {
                $("#price").val("192000");
                $("#roi").val("297600");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Platinum Plan") {
                $("#price").val("384000");
                $("#roi").val("595000");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Silver Plan") {
                $("#price").val("768000");
                $("#roi").val("1190400");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
            if ($('#myselect').val() == "Gold Plan") {
                $("#price").val("1536000");
                $("#roi").val("2280000");
                console.log({
                    price:  $("#price").val(),
                    roi: $("#roi").val()
                });
            }
        })

        // init
        $('#myselect').change();

        $(".delete-doc").on("click", function() {
			var userId = $(this).attr("id");
			var userUrl = "/coupon/delete";
			console.log(userUrl, userId);
			$.ajax({
				method: "POST",
				url: userUrl,
				data: {"userId": userId},
				success: function( result ){
					console.log("Successful");
					location.reload();
				},
				error: function( err ){
					console.log(err)
				}
			})
		})
    </script>

</body>
</html>